.flow-container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .flow-container-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  