.App {
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

a:visited {
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flow-container {
  display: flex;
}

.flow-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.flow-container-left {
  width: 30vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
  flex-direction: column;
}

.flow-container-right {
  width: 70vw;
}

.flow-card {
  position: relative;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.08), 0 1px 6px 0 rgba(0, 0, 0, 0.04);    
}


.flow-poses {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.pose-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.pose-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.pose-name {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}


.container {
  margin: 0 auto;
  width: 300px;
  background-color: #eee;
  text-align: center;
  padding: 27px 18px;

}

h1 {
  margin: 0;
  padding-bottom: 18px;
  font-size: 18px;
}

.info {
  max-width: 21ch;
  margin: 0 auto;
  margin-bottom: 18px;
  background-color: #ddd;
  padding: 12px 24px;
  word-wrap: break-word;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
}

.info a {
  color: black;
}

input,
button {
  padding: 9px;
  font-size: 18px;
  margin-bottom: 9px;
}

input.full-width {
  display: block;
  margin: 0 auto;
  margin-bottom: 9px;
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
