.App {
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

a:visited {
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flow-container {
  display: flex;
}

/* Remove blue text decoration for visited links */
a:visited {
  color: inherit;
  text-decoration: none;
}

.flow-container-grid {
  margin: 10px 0px 10px 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.home-cards:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
}

/* For screens with a minimum width of 480px, display a 2-column grid */
@media screen and (min-width: 480px) {
  .flow-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens with a minimum width of 768px, display a 3-column grid */
@media screen and (min-width: 768px) {
  .flow-container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For screens with a minimum width of 1000px, display a 4-column grid */
@media screen and (min-width: 1000px) {
  .flow-container-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* For screens with a minimum width of 1200px, display a 5-column grid */
@media screen and (min-width: 1200px) {
  .flow-container-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* @media (max-width: 768px) {
  .flow-container-grid {
    grid-template-columns: 1fr;
  }
} */


.flow-container-left {
  width: 30vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
  flex-direction: column;
}

.flow-container-right {
  width: 70vw;
}

.flow-card {
  position: relative;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.08), 0 1px 6px 0 rgba(0, 0, 0, 0.04);  
}

.flow-card-details {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.08), 0 1px 6px 0 rgba(0, 0, 0, 0.04);    
}

.flow-poses {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.flow-poses-details {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  height: auto;
}

.pose-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* 
.pose-image {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
} */

.image-div-chat {
  /* float: inline-start; */
  position: relative;
  z-index: 12;
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 6px;
  z-index: 12;
}

.searchInput::placeholder {
  text-align: center;
}


.pose-name {
  margin-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8rem;
}


.container {
  margin: 0 auto;
  width: 300px;
  background-color: #eee;
  text-align: center;
  padding: 27px 18px;

}

h1 {
  margin: 0;
  padding-bottom: 18px;
  font-size: 18px;
}

.info {
  max-width: 21ch;
  margin: 0 auto;
  margin-bottom: 18px;
  background-color: #ddd;
  padding: 12px 24px;
  word-wrap: break-word;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
}

.info a {
  color: black;
}

input,
button {
  padding: 9px;
  font-size: 18px;
  margin-bottom: 9px;
}

input.full-width {
  display: block;
  margin: 0 auto;
  margin-bottom: 9px;
  text-align: center;
}

.pose-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* min-width: 150px; */
  /* min-height: 150px; */
  padding-bottom: 100%;
}

/*  */

.chat-room-container {
  padding: 50px 0;
}

.parent-container {
  position: relative;
}

.action-container {
  z-index: 10;
  height: 80vh;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.background-container {
  z-index: 9;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
}

.background-container::before,
.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-container::before {
  border-radius: 8px;
  background-image: linear-gradient(132deg, #43e44bb1, #0ae0a7c7);
  background-size: 200% 200%;
  animation: spin 2.5s linear infinite;
}

.background-container::after {
  filter: blur(4px);
  background-image: linear-gradient(132deg, #5ddcffa9, rgba(254, 165, 0, rgba(255, 213, 0, 0.6) 212, 0));
  background-size: 200% 200%;
  animation: spin 2.5s linear infinite reverse;
}

@keyframes spin {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}







/*  */


  
  .message-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .message-list-my-own {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .outter-container-message,
  .outter-container-message-my-own {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .small-right {
    text-align: right;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 8px;
    color: #00000080;
    opacity: 0.6;
  }
  
  .container-message {
    z-index: 12;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  


  .message-content {
    padding: 10px 20px;
    flex-direction: column;
    word-wrap: break-word;
    text-align: left;
  }
  
  .sender-time-holder {
    position: relative;
    z-index: 20;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sender-time-holder-my-own {
    position: relative;
    z-index: 20;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  

  .sender {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 8px;
    color: rgba(219, 53, 2, 0.43);
    opacity: 0.8;
  }
  
  
  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
